extends ./share/layouts
include ./module/template

block content
    +tp-header('我的团队')

    section.body.body-style1
      div.team-guide
        span 直推：
          em 55
        span 团队：
          em 2143
        span 业绩：
          em 52345
        span 其它：
          em 5524

      ul.team-list
        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568
        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568
        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568


        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568
        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568
        li
          div.team-list-t
            //span.img(style="background-image: url('');")
            span.img
              em 19
          div.team-list-b
            span.iconfont.icon-dianhua
            | 18251542568



    +tp-toolbar2


