extends ./share/layouts
include ./module/template

block content
  +tp-header-search
  section.body.body-style1
    div.cbanner
      img(src="./images/b3.jpg")
    div.cmenu
      a(href="")
        i.iconfont.icon-meishi(style="background: #e68b42;")
        span 美食
      a(href="")
        i.iconfont.icon-yule(style="background: #da4b43;")
        span 休闲娱乐
      a(href="")
        i.iconfont.icon-jiudian1(style="background: #2e4274;")
        span 酒店
      a(href="")
        i.iconfont.icon-fuwu(style="background: #5cabb0;")
        span 生活服务
      a(href="")
        i.iconfont.icon-guanwangicon31339(style="background: #edb932;")
        span 其它

    div.cs-title - 最新商家 -

    ul.cs-list
      li
        a.cs-item(href="")
          div.img(style="background-image: url('./images/test3.jpg');")
          div.cs-item-r
            div.cs-item-title
              span 春天里一范风微
              label 0.2km
            div.cs-item-position
              span 地址：
              label WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。
            div.cs-item-position
              span 电话：
              label 15802816160
            div.tag
              span 支持外卖
      li
        a.cs-item(href="")
          div.img(style="background-image: url('./images/test3.jpg');")
          div.cs-item-r
            div.cs-item-title
              span 春天里一范风微
              label 0.2km
            div.cs-item-position
              span 地址：
              label WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。
            div.cs-item-position
              span 电话：
              label 15802816160
            div.tag
              span 支持外卖
        li
          a.cs-item(href="")
            div.img(style="background-image: url('./images/test3.jpg');")
            div.cs-item-r
              div.cs-item-title
                span 春天里一范风微
                label 0.2km
              div.cs-item-position
                span 地址：
                label WeUI 是一套同微信原生视觉体验一致的基础样式库，由微信官方设计团队为微信内网页和微信小程序量身设计，令用户的使用感知更加统一。
              div.cs-item-position
                span 电话：
                label 15802816160
              div.tag
                span 支持外卖


  +tp-toolbar


